<p id="notice"><%= notice %></p>

<h1>Listing Gifts</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>奖品类别</th>
      <th>奖品名称</th>
      <th>数量</th>
      <th>中奖人</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.grade %></td>
        <td><%= gift.name %></td>
        <td><%= gift.amount %></td>
        <td><%= gift.users.pluck(:name).join(',') %></td>
        <td><%= link_to '抽奖', luck_gift_path(gift) %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>剩余人：</p>

<% @users.each do |user| %>
  <%= user.name %> |
<% end %>

