
<h1 class="ui header">奖品列表</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>奖品类别</th>
      <th>奖品名称</th>
      <th>数量</th>
      <th class="six wide column">中奖人</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.grade %></td>
        <td><%= gift.name if gift.users.count > 0 %></td>
        <td><%= gift.amount %></td>
        <td><%= gift.users.pluck(:name).join(',') %></td>
        <td><%= link_to '抽奖', luck_gift_path(gift) %></td>
        <td><%= link_to '重置', reset_gift_path(gift) %></td>
        <td><%= link_to '编辑', edit_gift_path(gift) %></td>
        <td><%= link_to '删除', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui segment">
  <% @users.each do |user| %>
    <span class="ui grey"><%= user.name %></span>
  <% end %>
</div>



