<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>



<p>奖品： <%= @gift.name %></p>
<p>数量： <%= @gift.amount %></p>

<p>中奖人：</p>
<% @users.each do |user| %>

<p><%= user.name %></p>
<% end %>